[project]
	description = Master Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pandurp
[access "refs/for/refs/*"]
	read = group user/pandurp
	push = group user/pandurp
	label-Code-Review = -2..+2 group user/pandurp
	label-Verified = -1..+1 group user/pandurp
	rebase = group user/pandurp
	removeReviewer = group user/pandurp
	submit = group user/pandurp
[access "refs/heads/*"]
	read = group user/pandurp
	create = group user/pandurp
	push = +force group user/pandurp
	pushMerge = group user/pandurp
[access "refs/tags/*"]
	push = +force group user/pandurp
	pushTag = group user/pandurp
	pushSignedTag = group user/pandurp
